.NavStyles {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;  
    color: rgb(198, 247, 186);
    justify-content: center; 
}
.LogoStyles {
    width: 20%;
    height: 18vh;
    margin-right: 8vh;
    font-size: 2.5vh;
   
}
.LogoImgStyles {
    width: 30%;
    height: 8vh;
    padding-top: 0;
    
}



