.NavStyles {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;  
    color: rgb(96, 123, 96);
    justify-content: center; 

}
.LogoStyles {
    width: 20%;
    height: 18vh;
    margin-right: 8vh;
    font-size: 2.5vh;
   
}
.LogoImgStyles {
    width: 30%;
    height: 8vh;
    padding-top: 0;
}




